@font-face {
    font-family: 'myFamily';
    src:url('../font/dinengschrift-alternate.ttf') format('ttf'), url('../font/dinengschrift-alternate.ttf') format('truetype');/*non-IE*/
}
*{padding: 0;margin: 0;font-family: myFamily}
ul,li{list-style: none}
html,body{height: 100%;overflow: hidden}
body{background-image:url(../images/bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%;}
.xuelun-title{position: absolute;top:0;width:100%;height:10%;right: 0;left:0;text-align: center;background-image:url(../images/title.png);background-repeat:no-repeat;background-size:contain;background-position:50% 50%;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.dp-wrapper{margin:0 auto;position: absolute;left: 1%;right: 1%;top: 11%;bottom: 2%;}
.dp-wrapper-left{float: left;width: 32%;margin-right: 1%;height: 100%;}
.dp-wrapper-right{float: left;width: 28%;margin-left: 1%;height: 100%;}
.dp-wrapper-middle{float: left;width: 38%;height: 100%;}
.dp-box1{font-size:0;margin-bottom: .45rem;}
.dp-box1 li{display: inline-block;font-size:.28rem;color:#d1f5ff;width: 23.5%;margin-right:2%;}
.dp-box1 li:nth-child(4n+4){width: 23.5%;margin-right:0;}
.dp-box1 .title-bg{vertical-align: bottom;background-image:url(../images/tp_box1_header.png);background-repeat:repeat;background-size:100% 100%;background-position:50% 50%;height: .26rem}
.dp-box1 .end-bg{position: relative;background-image:url(../images/tp_box1_bottom.png);background-repeat:repeat;background-size:100% 100%;background-position:50% 50%;height: .18rem}
.dp-box1 .center-bg{position: relative;background-image:url(../images/tp_box1_bg.png);background-repeat:repeat-y;background-size:100% 100%;background-position:50% 50%;}
.dp-box1 .center-bg h3{font-size: .7rem;text-align: center;color: #d1f5ff;font-family: DINAlternate-Bold Arail;text-align:center;color: #fff;margin-bottom: .1rem;font-weight: 500;letter-spacing: -1px;}
.dp-box1 .center-bg p{font-size: .32rem;text-align:center;color:#5adbff;letter-spacing: 0;padding-bottom: .25rem;}
.dp-box2{margin-bottom: .45rem;}
.dp-box2-title{height: .8rem;text-align: center;font-size: .36rem;background-image:url(../images/dp_box2_title.png);background-repeat:no-repeat;background-size:contain;background-position:50% 50%;}
.dp-box2-title span{font-size: .36rem;color:#5adbff;line-height: .7rem;}
.dp-box2-table{height: 1.25rem;width: 100%;background-image:url(../images/tp_box2_title_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%;margin-top: .2rem;}
.dp-box2-table td{font-size: .32rem;text-align:center;color:#5adbff;margin-top: .2rem;font-family: microsoft yahei;}
.dp-box2-table-end{height: .11rem;width: 100%;background-image:url(../images/tp_box2_end_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position: 50% 0;}
.dp-box2-ul{padding-top:.1rem;padding-bottom:.1rem;height: 3rem;overflow: hidden;background-image:url(../images/tp_box2_border_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%;}
.dp-box2-ul ul{height: 3rem;overflow: hidden;-webkit-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;}
.dp-box2-li{font-size:0;height:.75rem;background-image:url(../images/tp_box2_line_bg.png);background-repeat:no-repeat;background-position: 50% bottom;background-size: 80%;}
.dp-box2-li:nth-child(4n+4){background:transparent;}
.dp-box2-li span{font-size:.32rem;display: inline-block;line-height:.8rem;text-align: center;width: 24%;color:#c6e9f5;overflow: hidden;text-overflow: ellipsis}
.dp-box2-li span:nth-child(4n+4){font-size:.32rem;display: inline-block;text-align: center;width: 28%;color:#c6e9f5;overflow: hidden;text-overflow: ellipsis}
.dp-box2-line{height: 1px;}
.dp-box2-li span.danger0{color:#c6e9f5}
.dp-box2-li span.danger1{color: #ff697b}
.dp-box2-li span.danger2{color: #ffb700}
.dp-box2-li span.danger3{color: #4a90e2}
.dp-box2-nocontent{height: 3rem;background-image:url(../images/dp_box2_no.png);background-repeat:no-repeat;background-position: 50% 29%;background-size: 12.5% auto;text-align: center;}
.dp-box2-nocontent span{font-size: 0.28rem;text-align:center;color:#5adbff;margin-top: .2rem;line-height: 4.5rem;}
.dp-box3{margin-bottom: .45rem;height:56%}
.dp-box3-title{height: .8rem;text-align: center;font-size: .36rem;background-image:url(../images/dp_box3_title.png);background-repeat:no-repeat;background-size:contain;background-position:50% 50%;margin-bottom: .25rem;}
.dp-box3-title span{font-size: .36rem;color:#5adbff;line-height: .7rem;}
.dp-box4{height: 76%;width: 100%;margin-bottom:4%;background-image:url(../images/dp_box4_big_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%;position: relative;}
.box4-right-box{position: absolute;right: 0;width: 29%;height: 19%;background-image:url(../images/dp_box4_right_box_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%;}
.box4-right-box h2{font-size: .36rem;color:#5adbff;line-height: .7rem;text-align: center;margin-top: .1rem;}
.box4-right-box h2 .dp-box4-icon{width: .5rem;height: .36rem;display: inline-block;vertical-align: middle;background-image:url(../images/dp_box4_icon_dec.png);background-repeat:no-repeat;background-size:contain;background-position:50% 50%;}
.box4-right-numbox{height: 80%;text-align: center;position:relative;text-indent: -.25rem;}
#dpbox4Num.banner-numbox li{display: inline-block;font-size: 1.15rem;width: .95rem;height: 1.4rem;color: #fff;line-height: 1.4rem;text-align: center;background-image:url(../images/num_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position: 50% -1px;margin-right: .1rem;border-radius: 0;background-color: transparent;}
#dpbox4Num.banner-numbox li:nth-child(2n+2){margin-right: .3rem;}
.box4-right-numbox .point{position: absolute;color: #fff;left: 2.52rem;line-height: 1.4rem;}
.box4-right-numbox .percent{position: absolute;right: 0.2rem;font-size: 0.8rem;color: #fff;line-height: 1.6rem;}
.dp-box4-tips-box{position: absolute;right: 0.15rem;top: 21%;}
.dp-box4-tips-item{width: 3rem;height: .8rem;margin-bottom: .2rem;}
.dp-box4-tips-item.danger0 span{color:#c6e9f5;}
.dp-box4-tips-item.danger1 span{color: #ff697b;display: inline-block;}
.dp-box4-tips-item.danger2 span{color: #ffb700}
.dp-box4-tips-item.danger3 span{color: #4a90e2}
.dp-box4-tips-item span{font-size: .32rem;vertical-align: middle;font-family: Microsoft YaHei;margin-right: .02rem;}
.dp-box4-tips-item .numbox{font-size: 0;display: inline-block;vertical-align: middle;}
.dp-box4-tips-item .numbox li{display: inline-block;font-size: .6rem;height: .72rem;width: .44rem;color: #fff;line-height: .72rem;text-align: center;background:#d1f5ff;border-radius: 5px;margin-right: .04rem;}
.dp-box4-tips-box .danger1 .numbox li{background-color: #ff697b}
.dp-box4-tips-box .danger2 .numbox li{background-color: #ffb700}
.dp-box4-tips-box .danger3 .numbox li{background-color: #4a90e2}
.dp-box4-tips-box .danger0 .numbox li{color: #4a90e2}
.box4-left-box{position: absolute;left:0;bottom: 0;width: 13.5%;height: 20%;background-image:url(../images/dp_box4_left_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% bottom;}
.dp-box4-map{position: absolute;left: 1%;top: 10%;width: 92%;height: 90%;background-image:url(../images/mapbg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% bottom;}
.dp-box5-number{position: absolute;right:2%;top: 7%;}
.dp-box5{height: 21%;width: 100%;position: relative;background-image:url(../images/dp_box5_big_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%;}
.dp-box5-title{position: absolute;top:0;left:6.45%;color:#5adbff;font-size:.26rem;line-height: .8rem;font-weight: 600;}
.dp-box5-info-title{position: absolute;top: 6%;right: 2%;color:#5adbff;font-size: 0.32rem;font-weight:800;}
.dp-box5-info-title span{line-height:1rem;vertical-align: top;margin-right: .1rem;letter-spacing: 1px;}
.banner-numbox{font-size: 0;display: inline;position: relative;text-indent: 0;}
.banner-numbox li{display: inline-block;font-size: .95rem;width: .72rem;height: 1rem;color:#fff;line-height: 1rem;text-align: center;background: rgba(67, 122, 208, 0.4);border-radius: 7px;margin-right: .05rem;font-weight: 400;}
.dp-box6-number{position: absolute;right:2%;top: 7%;}
.dp-box6{height:32.3%;width: 100%;margin-bottom: .5rem;position: relative;background-image:url(../images/dp_box6_big_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%;}
.dp-box6-title{position: absolute;top:0;left: 10.45%;color:#5adbff;font-size: .28rem;font-weight: 600;line-height:.7rem;}
.dp-box6-info-title{position: absolute;top: 6%;right: 2%;color:#5adbff;font-size: 0.32rem;font-weight:800;}
.dp-box6-info-title span{line-height:1rem;vertical-align: top;margin-right: .1rem;}
.dp-box7-wrapper{height: 59%;width: 100%;bottom: 0;position: relative;background-image:url(../images/dp_box7_big_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%;}
.dp-box7-title{height:.8rem;text-align: center;font-size: .36rem;background-image:url(../images/dp_box7_title.png);background-repeat:no-repeat;background-size:contain;background-position:50% 50%;margin-bottom: .2rem;}
.dp-box7-title span{font-size: .36rem;color:#5adbff;line-height: .7rem;}
.dp-box7-items{font-size: 0;padding-top: .4rem;padding-bottom:.4rem;}
.dp-box7-items .dp-box7-items-box{width: 50%;display: inline-block;text-align: center;}
.dp-box7-items .dp-box7-items-box li{margin-right: .1rem;}
.dp-box7-items .dp-box7-items-box li:last-child{margin-right: 0;}
.dp-box7-items h3{font-size: .36rem;color:#5adbff;line-height: .7rem;text-align: center;padding-bottom: 0.24rem;font-weight: 600;}
#dpBox7{height:35%;width: 96%;margin: .2rem auto}
#mineBox1{height:30%;}
#mineBox2{height:30%;}
#mineBox3{width: 100%;height: 100%}
#mineBox{width:50%;height:30%;float:left;}
#mineBoxed{width:50%;height:30%;float:left;}