*{padding: 0;margin: 0}
ul,li{list-style: none}
html,body{height: 100%;overflow: hidden}
body{background-image:url(../images/bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%;}
.xuelun-title{position: absolute;top:0;width:100%;height:10%;right: 0;left:0;text-align: center;background-image:url(../images/title.png);background-repeat:no-repeat;background-size:contain;background-position:50% 50%;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.dp-wrapper{margin:0 auto;position: absolute;left:3%;right:3%;top:12%;bottom: 2%;}
.dp-wrapper-left{float: left;width: 32%;margin-right: 1.5%;height: 100%;}
.dp-wrapper-right{float: left;width: 28%;margin-left: 1.5%;height: 100%;}
.dp-wrapper-middle{float: left;width: 36%;height: 100%;}
.dp-box1{font-size:0;margin-bottom: .45rem;}
.dp-box1 li{display: inline-block;font-size:.28rem;color:#d1f5ff;width: 23.5%;margin-right:2%;}
.dp-box1 li:nth-child(4n+4){width: 23.5%;margin-right:0;}
.dp-box1 .title-bg{vertical-align: bottom;background-image:url(../images/tp_box1_header.png);background-repeat:repeat;background-size:100% 100%;background-position:50% 50%;height: .26rem}
.dp-box1 .end-bg{position: relative;background-image:url(../images/tp_box1_bottom.png);background-repeat:repeat;background-size:100% 100%;background-position:50% 50%;height: .18rem}
.dp-box1 .center-bg{position: relative;background-image:url(../images/tp_box1_bg.png);background-repeat:repeat-y;background-size:100% 100%;background-position:50% 50%;}
.dp-box1 .center-bg h3{font-size: .72rem;text-align: center;color: #d1f5ff;font-family: Arail;text-align:center;color:#d1f5ff;padding-top: .23rem;margin-bottom:.2rem}
.dp-box1 .center-bg p{font-size:.34rem;text-align:center;color:#5adbff;letter-spacing:-2px;padding-bottom: .28rem;}
.dp-box2{margin-bottom: .56rem;}
.dp-box2-title{height: .8rem;text-align: center;font-size: .36rem;background-image:url(../images/dp_box2_title.png);background-repeat:no-repeat;background-size:contain;background-position:50% 50%;}
.dp-box2-title span{font-size: .36rem;color:#5adbff;line-height: .7rem;}
.dp-box2-table{height: 1rem;width: 100%;background-image:url(../images/tp_box2_title_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%;margin-top: .2rem}
.dp-box2-table td{font-size:.34rem;text-align:center;color:#5adbff;margin-top: .2rem;}
.dp-box2-table-end{height: .11rem;width: 100%;background-image:url(../images/tp_box2_end_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position: 50% 0;}
.dp-box2-ul{padding-top:.1rem;padding-bottom:.1rem;height: 3rem;overflow: hidden;background-image:url(../images/tp_box2_border_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%;
}
.dp-box2-li{font-size:0;height:.75rem;background-image:url(../images/tp_box2_line_bg.png);background-repeat:no-repeat;background-position: 50% bottom;background-size: 80%;}
.dp-box2-li:nth-child(4n+4){background:transparent;}
.dp-box2-li span{font-size:.32rem;display: inline-block;
    line-height:.8rem;
    text-align: center;width: 24%;color:#c6e9f5;overflow: hidden;text-overflow: ellipsis}
.dp-box2-li span:nth-child(4n+4){font-size:.32rem;display: inline-block;
    text-align: center;width: 28%;color:#c6e9f5;overflow: hidden;text-overflow: ellipsis}
.dp-box2-line{height: 1px;}
.dp-box2-li span.danger0{color:#c6e9f5}
.dp-box2-li span.danger1{color: #ff697b}
.dp-box2-li span.danger2{color: #ffb700}
.dp-box2-li span.danger3{color: #4a90e2}




.dp-box3{margin-bottom: .45rem;}
.dp-box3-title{height: .8rem;text-align: center;font-size: .36rem;background-image:url(../images/dp_box3_title.png);background-repeat:no-repeat;background-size:contain;background-position:50% 50%;}
.dp-box3-title span{font-size: .36rem;color:#5adbff;line-height: .7rem;}



.dp-box4{height: 76%;width: 100%;
    margin-bottom:4%;
    background-image:url(../images/dp_box4_big_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%;
}
.dp-box5-number{
    position: absolute;
    right:2%;
    top: 7%;
}
.dp-box5{
    height: 21%;
    width: 100%;
    position: relative;
    background-image:url(../images/dp_box5_big_bg.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position:50% 50%;
}
.dp-box5-title{
    position: absolute;
    top:0;
    left:6.45%;
    color:#5adbff;
    font-size:.26rem;
    line-height:.7rem;
}
.dp-box5-info-title{
    position: absolute;
    top: 6%;
    right: 2%;
    color:#5adbff;
    font-size: 0.32rem;
    font-weight:800;
}
.dp-box5-info-title span{
    line-height:1rem;
    vertical-align: top;
    margin-right: .1rem;
}
.banner-numbox{
    font-size: 0;
    display: inline;
}
.banner-numbox li{
    display: inline-block;
    font-size:.88rem;
    width: .75rem;
    height: 1rem;
    color:#fff;
    line-height: 1rem;
    text-align: center;
    background: rgba(43, 95, 177, 0.32);
    border-radius:5px;
    margin-right:.03rem;
}


.dp-box6-number{
    position: absolute;
    right:2%;
    top: 7%;
}
.dp-box6{height: 35.3%;width: 100%;
    margin-bottom:.45rem;
    position: relative;
    background-image:url(../images/dp_box6_big_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%;
}
.dp-box6-title{
    position: absolute;
    top:0;
    left: 10.45%;
    color:#5adbff;
    font-size: .28rem;
    line-height:.7rem;
}
.dp-box6-info-title{
    position: absolute;
    top: 6%;
    right: 2%;
    color:#5adbff;
    font-size: 0.32rem;
    font-weight:800;
}
.dp-box6-info-title span{
    line-height:1rem;
    vertical-align: top;
    margin-right: .1rem;
}
.dp-box7-wrapper{
    height:55%;width: 100%;
    bottom: 0;
    position: relative;
    background-image:url(../images/dp_box7_big_bg.png);background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%;
}
.dp-box7-title{height:.8rem;text-align: center;font-size: .36rem;background-image:url(../images/dp_box7_title.png);background-repeat:no-repeat;background-size:contain;background-position:50% 50%;  margin-bottom:.4rem;}
.dp-box7-title span{font-size: .36rem;color:#5adbff;line-height: .7rem;}


#mineBox1{height:30%;}
#mineBox2{height:30%;}
#mineBox3{width: 100%;height: 100%}
#mineBox{width:50%;height:30%;float:left;}
#mineBoxed{width:50%;height:30%;float:left;}