*{padding: 0;margin: 0}
html,body{height: 100%;overflow: hidden}
body{background-color:#001837}
.xuelun-title{
    font-size: 1.5rem;
    line-height: 3rem;
    color: #fff;
    text-align: center;
    position: relative;
}

#mineBox1{
    position: absolute;
    top:3.5rem;
    left:3%;
    width:25%;height:30%;
    bottom:0;
    right: 0;
}
#mineBox2{
    position: absolute;
    top:3.5rem;
    left:33%;
    width:25%;height:30%;
    bottom:0;
    right: 0;
}
#mineBox3{
    position: absolute;
    top:3.5rem;
    left:66%;
    width:25%;height:30%;
    bottom:0;
    right: 0;
}